/* Enter your custom styles here */

.header {
	font-size:6vw;
}

.bold {
	font-weight: bold;
}

.underline {
	text-decoration: underline;
}
.fontSize {
	font-size: 4vw;
}

.fontH1 {
	font-size: 12vw;
	color: darkblue;
	font-weight: bold;
}

.fontH2 {
	font-size: 6vw;
	color: darkblue;
	margin-left: 16px;
	font-weight: bold;
}

.fontPara {
	font-size: 4vw;
	color: gray;
}


.test { font-size: 2em; }

.red { color: #d90e00; }
.black { color: black; }

#map_canvas { background-color: green; }

@media screen and (max-width: 320px) {
    
}

@media screen and (max-width: 992px){

}
