/* Enter your custom styles here */

.header {
	font-size:20px;
}

.bold {
	font-weight: bold;
}

.underline {
	text-decoration: underline;
}

.buttonFullScreen {
    width:1200px;
    padding: 10px 10px 10px 10px;
    margin: 10px 0px 10px 0px;
}
.spacingBetweenText { 
    margin: 0px 0px 40px 0px;
    
}
.spacingBetweenTextAndButton {
        margin: 0px 0px 15px 0px;
    
}
.spacingBetweenTextAndImage {
        margin: 0px 0px 15px 0px;
    
}
@media screen and (max-width: 992px){

 

    .buttonFullScreen {
        width:750px;
        padding: 10px 10px 10px 10px;
        margin: 10px 0px 10px 0px;
    }
    .spacingBetweenText { 
        margin: 0px 0px 40px 0px;
        
    }
    .spacingBetweenTextAndHeader { 
        margin: 30px 0px 30px 0px;
        
    }
    .spacingBetweenTextAndButton {
            margin: 0px 0px 15px 0px;
        
    }
    .spacingBetweenTextAndImage {
            margin: 0px 0px 15px 0px;
        
    }
}
@media screen and (max-width: 600px) {
        .buttonFullScreen {
        width:400px;
        padding: 10px 10px 10px 10px;
        margin: 10px 0px 10px 0px;
    }
    .spacingBetweenText { 
        margin: 0px 0px 40px 0px;
        
    }
    .spacingBetweenTextAndHeader { 
        margin: 30px 0px 30px 0px;
        
    }
    .spacingBetweenTextAndButton {
            margin: 0px 0px 15px 0px;
        
    }
    .spacingBetweenTextAndImage {
            margin: 0px 0px 15px 0px;
        
    }
}